
body{

  margin: 0;
}

body,
h2 {
  font-family: Roboto, Arial, Sans Serif;
  margin: 0;
}
h1 {
  text-align: center;
  margin: $pouce*2 0;
  font-size: em;
  font-family: Shrikhand, Arial, Sans Serif;
}
h3{
  margin:0 0 $pouce*0.5;
}
* {
  box-sizing: border-box;
}
ul{
  list-style: none;
}

a{
  color: #000;
  text-decoration: none;
}

span{
  color: $grey-dark;
  font-weight: 300;
  font-size: .9em;
  overflow: hidden;
}

.text{
  margin: 0 0 0 $pouce;
}
