
body{

  margin: 0;
}

body,
h2 {
  font-family: Roboto, Arial, Sans Serif;
  margin: 0;
}
h1 {
  text-align: center;
  margin: $pouce*2 0;
  font-size: 1.5em;
  font-family: 'Shrikhand', cursive;
}
h3{
  margin:0 0 $pouce*0.5;
}
* {
  box-sizing: border-box;
}
ul{
  list-style: none;
}

a{
  color: #000;
  text-decoration: none;
}

span{
  color: $grey-dark;
  font-weight: 300;
  font-size: .9em;
  overflow: hidden;
}

.text{
  margin: 0 0 0 $pouce;
}


// LOADING //

 $size: 3vh;
 $anim-dur: 1000ms;
 $anim-delay: $anim-dur / 5;

 .load {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    margin: -78px 0 0 -78px;
    width: $size*10;
    height: $size*7.5;
    display: flex;
    justify-content: space-evenly;
    &__bar {
        background-color: $brand-green-light;
        height: 100%;
        width: $size;
        opacity: 0;
        animation: loader 1000ms alternate-reverse;
        animation-iteration-count: 2;
        animation-delay: 2s;
        @for $i from 1 through 5 {
            &--#{$i} {
                animation-delay: $anim-delay * $i;
                opacity: 0;
            }
        }
    }
 }
 
 @keyframes loader {
     0% {
         transform: scaleY(0.5);
         opacity: 1;
     }
     100% {
         transform: scaleY(1.0);
         opacity: 1;
     }
 }

#hidden{
  animation-name: main;
  animation-fill-mode: forwards;
  animation-duration: 3s;
  animation-delay: 3s;
  overflow: hidden;
  opacity: 0;
  position: relative;
  width: 100%;
  @keyframes main {
    100% {
      opacity: 1;
    }
  }
}