
.nav{
    nav{ 
        width: 100%;
        ul{
            display: flex;
            flex-direction: column;
            margin: 0;
            padding: 0;
            list-style: none;
            width: 100%;
            li{
              display: flex;
              flex-direction: row;
              vertical-align: baseline;
              margin: $pouce*2 0; 
            }
          }
    
        .step{
            align-self: center;
            background-color: $brand-purple;
            border-radius: 100%;
            color: #fff;
            width: 30px;
            height: 30px;
            text-align: center;
            padding: $pouce*0.55;
            position: relative;
            left: 11px;
        }
          
        .btn__nav{
            font-style: normal;
            background-color: $grey-light;
            border-radius: $border-radius;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            width: 100%;
            padding: $pouce*2;
            white-space: nowrap;
    
            &:hover{
                background-color: $brand-purple-light;
            }
        }
    }
}


@media (min-width:1100px) {
    .nav{
        nav{
            ul{
                flex-direction: column;
            }
        }
    }
}

@media (min-with:300px)and(max-width:950px){
    .nav{
        nav{
            ul{
                width: 100%;
                flex-direction: column;
            }
        }
    }
}
