
/* $color-white: #fff;
$color-black: #000;

$grey-dark: #353535;
$grey-medium: #EAEAEA;
$grey-light: #F6F6F6;

$brand-purple: #9356DC;

$brand-green: #99E2D0;
$brand-green-light: #99E2D0;
 */
/* $gradient-brand-purple: background : linear-gradient(to top;#D26ADB,#9356DC);

@mixin linear-gradient(top, $color-stops...) {
    background: nth(nth($color-stops, 1), 1);
    background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
    background: linear-gradient($direction, $color-stops);
  } */