#head{
    width: 100%;
    .header{
        background-color: $color-white;
        height: 100px;
        > a{
            width: 300px;
            height: auto;
            .brand{
                object-fit: contain;
                overflow: auto;
            }
        }
    }

    .localisation{
        width: 100%;
        height: 100%;
    }
}