.btn{
    background: linear-gradient(#D26ADB,#9356DC);
    border-radius: 33px;
    color: #fff;
    width: 250px;
    margin: 11px auto;
    padding: 11px;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
}