
$white: #fff;
$black: #000;

$grey-dark: #353535;
$grey-medium: #EAEAEA;
$grey-light: #F6F6F6;

$brand-purple: #9356DC;
$brand-purple-light: #F5EDFF;
$brand-pink: #ff79da;

$brand-green: #008766;
$brand-green-light: #99E2D0;


// Mesure //
$pouce: 11px;
$border-radius: 12px;
